<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.junit.launchconfig">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/uk.kcl.ac.inf.json.xpect/src/uk/kcl/ac/inf/json/xpect/XPextTests.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
    <booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value="test1.json.xt: src/uk/kcl/ac/inf/json/xpect"/>
    <stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="uk.kcl.ac.inf.json.xpect.XPextTests"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="uk.kcl.ac.inf.json.xpect"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea -DxpectFiles=src/uk/kcl/ac/inf/json/xpect/test1.json.xt"/>
</launchConfiguration>
